:root {
    --a: #202020;
    --b: #660808;
    --c: #ececec;
    --d: #303030;
    --e: #e0f2fe;
    --f: #ee191984;
    --g: #5fb0e341;
}

body {
    margin: 0px;
    background-color: var(--c);
}

@font-face {
    font-family: "Aptos";
    src: url("/media/Aptos.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#game-container {
    display: none;
    position: relative;
}

#menu-container {
    left: 50vw;
    top: 50vh;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.input {
    color: var(--a);
    font-family: Aptos;
    font-size: 12px;
    border-radius: 4px;
    border: solid var(--d) 2px;
    background-color: var(--g);
    transition-duration: 0.1s;
}

.input:focus {
    outline: none;
    border: solid transparent 2px;
    background-color: transparent;
    transform: scale(1.1);
}

.log {
    color: var(--c);
    line-height: 24px;
}

.button {
    background-color: var(--c);
    color: var(--a);
    font-family: Aptos;
    font-size: 12px;
    border-radius: 4px;
    border: solid var(--d) 2px;
    transition-duration: 0.1s;
    opacity: 1;
    cursor: pointer;
}

.button.blocked {
    background-color: var(--f);
    color: var(--b);
    font-family: Aptos;
    font-size: 12px;
    border-radius: 4px;
    border: solid var(--b) 2px;
    transition-duration: 1.0s;
    opacity: 1.0;
    cursor: not-allowed;
    pointer-events: none;
}

.button:hover:not(.blocked) {
    background-color: var(--d);
    color: var(--c);
    border: solid var(--c) 2px;
    transform: scale(1.2);
}

.title {
    color: var(--d);
    font-family: Aptos;
    font-size: 20px;
}

#game-canvas{
    position: absolute;
    background-color: var(--c);
    z-index: 1;
    width: 100vw;
    height: 100vh;
    image-rendering: pixelated;
}

#game-chat {
    position: absolute;
    z-index: 2;
    top: 0px;
    margin-top: 24px;
    margin-left: 52px;
    left: 0px;
    opacity: 1.0;
}

#game-log {
    width: 20vw;
    text-wrap: stable;
    overflow-wrap: break-word;
    padding: 8px;
    line-height: 20px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    color: var(--a);
    background-color: var(--g);
    font-family: Aptos;
}

name {
    font-size: 10px;
    font-family: monospace;
    color: var(--d);
    opacity: 0.6;
    padding: 2px;
    border-radius: 3px;
    transition-duration: 0.1s;
}

name:hover {
    color: var(--d);
    opacity: 1.0;
    background-color: var(--f);
}