* {
    margin: 0px;
}

#game-container {
    display: none;
    margin-top: 12px;
    margin-left: 12px;
}

#login-container {
    margin-top: 12px;
    margin-left: 12px;
}

.title {
    font-family: didot;
    font-size: 32px;
}